.footer .widget-area {
  margin-top: 2 * $size-element-spacing;
}

.footer .widget-title {
  font-size: 85%;
}

.footer .icon {
  width: 1.14rem;
  height: 1.14rem;
}

.footer-menu-container {
  text-align: center;
  .menu {
    display: inline-block;
    margin: 0 auto;

    li {
      display: inline-block;
      padding: 0 12px;
    }
  }
}

@include mobile {
  .footer .widget-area {
    margin-top: $size-element-spacing;
  }
}