.site-branding img {
  height: 52px;
  padding: 0;
  margin-top: 10px;
}

.header .menu {
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header .css-icon-search {
    top: 25px;
}

.thumbnail-rounded img {
  border-radius: 50%;
}

.search-form input[type="submit"] {
  display: none;
}