.site-branding img {
  height: 52px;
  padding: 0;
}

.header .menu {
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.search-box .css-icon-search {
  top: 10px;
}

.header .css-icon-search {
    top: 16px;
}

.thumbnail-rounded img {
  border-radius: 50%;
}

.search-form input[type="submit"] {
  display: none;
}

.entry-meta {
  font-weight: normal;
  font-size: 12.96px;

  .dot {
    margin: 0 0.5em;
    color: #ccc;
  }

  .dot + span {
    margin-left: 0;
  }
}