.entry-title {
  margin-top: 0;
}

.about-author {
  .section-title {
    margin-bottom: $size-element-spacing;
  }

  .media-body {
    padding-left: 0;
  }
}

.post-navigation {
  .nav-links {
    display: flex;
  }
  
  .nav-previous, .nav-next {
    @extend .entry-title;
    @extend .h4;
    width: 50%;
    padding: 10px 1rem;
    display: inline-block;
    margin-bottom: 0;

    a {
      font-weight: normal;
    }
  }

  .nav-previous:before, .nav-next:before {
      content: 'Next';
      display: block;
      text-transform: uppercase;
      font-size: 80%;
      margin-top: 0;
      margin-bottom: 1rem;
      letter-spacing: 0.8px;
      color: #aaa;
  }

  .nav-previous {
    text-align: right;
    border-right: 2px solid #eee;

    &:before {
      content: 'Prev';
    }
  }
}

.related-posts {
  .media {
    margin-top: 1.5rem;
  }
  .thumbnail {
    width: 112px;
    height: 112px;
  }
  .media-left .thumbnail + .media-body {
    margin-left: 112px;
    min-height: 112px;
    padding-left: 1rem;
  }
}