.widget {
    padding-top: 0;
}

.widget .search-form:first-child {
  margin-top: 0;

  .search-box {
    margin-top: 0;
  }
}

.widget ul {
  list-style: none;
  padding-left: 0;
}

.widget_calendar {
  td {
    padding: 0.8rem;
    text-align: center;
  }
}

.wp-tag-cloud {
  li {
    display: inline-block;
    margin: 10px 0 0 0;
  }
  
  a {
    @extend .button;
    @extend .button.button-ghost;
    
    display: block;
    margin-top: 0;
    padding: 10px 15px;
    line-height: 1;
    border-radius: 3px;
  }
}