.widget {
    padding-top: 0;
}

.widget .search-form:first-child {
  margin-top: 0;

  .search-box {
    margin-top: 0;
  }
}

.widget ul {
  list-style: none;
  padding-left: 0;
}

.widget_calendar {
  td {
    padding: 0.8rem;
    text-align: center;
  }
}