@import "vars";
@import 'mmcss/src/mm';
@import "overrides";
@import "animations";
@import "layouts";
@import "minimal";
@import "blogroll";
@import "posts";
@import "media/media";
@import "comments";
@import "widgets";
@import "share-buttons";
@import "footer";

main {
  min-height: 500px;
}

#content {
  margin-top: 2 * $size-element-spacing;
}

@include desktop {
  .menu ul a {
    width: 160px;
    font-size: 0.95rem;
    letter-spacing: 0;
  }
}

/**
 * If a menu is named as Social Menu, display it horizontally
 */
.menu-social-menu-container {
  .menu li {
    display: inline-block;
    padding: 0 10px;
  }
}
